{{#if comments.length}}
<div class="main-container">
  <div class="heading">
    <br><br>
    <h1 class="comments-h1" style="text-align: center;">
      <span class="glyphicon glyphicon-comment" area-hidden="true"></span> Visitor Comments<br><br>
      <span class="ask-to-leave-comment">How was my portfolio? Share your thoughts here! <br>Your opinion is valuable! Thank you so much!</span><br>
      <a class="leave-comment" href="/leave-comment">Leave a Comment</a><br>
    </h1>
  </div>
  {{#each comments as |comment|}}
  <div class="review-cards">
    <div class="review-card">
      <div class="review-card__icon">
        <h1><i class="glyphicon glyphicon-thumbs-up"></i> {{comment.name}} <br><span class="review-interests">Interests: {{comment.interests}}</span></h1>
      </div>
      <h2 class="review-card__title"><br>{{comment.reviews}}</h2>
      <p class="review-card__apply">
        <br>
        <a class="review-card__link" href="mailto:{{comment.email}}"><i class="glyphicon glyphicon-envelope"></i> {{comment.email}}</a>
      </p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}